<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517866791350-7ij2uq64fj1835e4q6kuijv2gqdksfu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517866791350-7ij2uq64fj1835e4q6kuijv2gqdksfu8</string>
	<key>API_KEY</key>
	<string>AIzaSyD6_A58bZXjyg8VxKquYP9sJ59Md4NR3eI</string>
	<key>GCM_SENDER_ID</key>
	<string>517866791350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.premens</string>
	<key>PROJECT_ID</key>
	<string>premens</string>
	<key>STORAGE_BUCKET</key>
	<string>premens.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517866791350:ios:f440da2a315b308238a117</string>
	<key>DATABASE_URL</key>
	<string>https://premens-default-rtdb.firebaseio.com</string>
</dict>
</plist>